extends layout

block content
    include ../public/components/header/header
    include ../public/components/promo/promo
    include ../public/components/services/services
  //h1= title
  //p Welcome to #{title}

