$white: #fff;

$grey_lightest: #f4f4f4;
$grey_light: #cccece;
$grey_dark: #515862;

$blue_light: #c5f4ff;
$blue: #11a3d5;
$blue_dark: #007fb7;
$blue_darkest: #025568;
$blue_dark_dim: #2d3d4f;

$aqua: #2190c1;

$orange_light: #ffebca;
$orange: #f98561;
$orange_dark: #e2714f;
$orange_darkest: #a84c30;