section.page_heading.promo_section
    .inner
        .slide
            h1.slide_title Good Design Is Good Business
            p.slide_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.  Ut
            button.primary_button.light_button.slide_button learn more
