@import '../../stylesheets/base';

$header_menu_item_padding: 0 20px;
$header_menu_item_text_properties: (
    font_size: 14px,
    text_align: center
);
$header_menu_item_hover_bg_color: $blue;
$header_menu_item_hover_text_properties: (
    color: $blue_light,
    font_weight: bold
);

$header_button_padding: 5px 20px;
$header_button_bg_color: $orange;
$header_button_text_properties: (
    font_size: 14px,
    color: $white
);
$header_button_hover_bg_color: $orange_dark;

$search_button_label_margin: 0 5px 0 0;
$search_button_label_text_properties: (
    color: $grey_dark,
    font_size: 12px
);
$search_button_size: 36px;

header {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80px;

    .header_inner {
        justify-content: space-between;
    }

    .right_part,
    .left_part,
    .menu_container {
        display: flex;
    }

    .left_part {
        align-items: center;
    }

    .menu {
        display: inline-flex;

        .menu_item {
            @include text_properties($header_menu_item_text_properties);
            cursor: pointer;
            display: flex;
            position: relative;
            padding: $header_menu_item_padding;

            span {
                margin: auto;
            }

            &:hover,
            &:focus {
                @include text_properties($header_menu_item_hover_text_properties);
                background-color: $header_menu_item_hover_bg_color;

                &:before,
                &:after {
                    content: '';
                    background-color: $blue_dark;
                    position: absolute;
                }

                &:after {
                    width: 100%;
                    height: 10px;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    .header_button {
        align-self: center;
        border-radius: 3px;
        padding: $header_button_padding;
        margin: $header_menu_item_padding;
        @include text_properties($header_button_text_properties);
        background-color: $header_button_bg_color;

        &:hover,
        &:active {
            background-color: $header_button_hover_bg_color;
        }
    }

    .search_container {
        margin-left: 100px;
        align-self: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .search_button_label {
            @include text_properties($search_button_label_text_properties);
            margin: $search_button_label_margin;
        }

        .search_button {
            border-radius: 50%;
            width: $search_button_size;
            height: $search_button_size;
            background-color: $header_button_bg_color;

            &:hover,
            &:active {
                background-color: $header_button_hover_bg_color;
            }
        }
    }
}